* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {

    font-family: Arial, sans-serif;

}



.container {

    text-align: center;

    margin: 0 auto;

    width: 50%;

}



h1 {

    color: #333;

}



ul {

    list-style-type: none;

    padding: 0;

}


 
li {

    margin: 5px 0;

    display: flex;

    justify-content: space-between;

    align-items: center;

    background-color: #f7f7f7;

    padding: 8px;

    border-radius: 5px;

} 



.deleteTask {

    background-color: #ff6b6b;

    color: white;

    border: none;

    padding: 5px 10px;

    border-radius: 5px;

    cursor: pointer;

} 